# Ignore node_modules for a Node.js project
node_modules/

# Ignore compiled Python files
*.pyc
**/__pycache__/

# Ignore specific directories
backend/polls/__pycache__/
backend/mysite/__pycache__/
backend/stock_market_venv/

# Ignore environment files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

venv

frontend/.idea/