<div *ngIf="stocks.length > 0; else loading">
  <!-- Stock Table Container -->
  <div class="container-fluid d-flex flex-column vh-100 px-0">
    
    <!-- Table Styling -->
    <div class="overflow-hidden w-full overflow-x-auto rounded-radius border border-outline dark:border-outline-dark">
      <table class="w-full text-left text-sm text-on-surface dark:text-on-surface-dark">
        <thead class="border-b border-outline bg-surface-alt text-sm text-on-surface-strong dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark-strong">
          <tr>
            <th scope="col" class="p-4">Symbol</th>
            <th scope="col" class="p-4">Current Price</th>
            <th scope="col" class="p-4">Change</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-outline dark:divide-outline-dark">
          <tr *ngFor="let stock of stocks"
              [routerLink]="['/stock', stock.symbol]" class="cursor-pointer hover:bg-surface-alt hover:dark:bg-surface-dark-alt bg-surface dark:bg-surface-dark text-on-surface dark:text-on-surface-dark">
            <td class="p-4">{{ stock.symbol }}</td>
            <td class="p-4">${{ stock.price | number:'1.2-2' }}</td>
            <td class="p-4" [ngClass]="{'text-success': stock.changesPercentage >= 0, 'text-danger': stock.changesPercentage < 0}">
              {{ stock.changesPercentage | number:'1.2-2' }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Loading State Template -->
<ng-template #loading>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <p class="text-center mt-3">Fetching the latest stock data...</p>
</ng-template>
