<div
    class="group pointer-events-none fixed inset-x-8 top-0 z-99 flex max-w-full flex-col gap-2 bg-transparent px-6 py-6 md:bottom-0 md:left-[unset] md:right-0 md:top-[unset] md:max-w-sm">
    @for (notification of notificationService.notifications; track notification) {
        <div [ngClass]="{'border-info': notification.variant == 'info', 'border-success': notification.variant == 'success', 'border-warning': notification.variant == 'warning', 'border-danger': notification.variant == 'danger'}"
        class="pointer-events-auto relative rounded-radius border bg-surface text-on-surface dark:bg-surface-dark dark:text-on-surface-dark">
            <div [ngClass]="{'bg-info/10': notification.variant == 'info', 'bg-success/10': notification.variant == 'success', 'bg-warning/10': notification.variant == 'warning', 'bg-danger/10': notification.variant == 'danger'}" class="flex w-full items-center gap-2.5 rounded-radius p-4 transition-all duration-300">
                <!-- Icon -->
                <div [ngClass]="{'bg-info/10': notification.variant == 'info', 'bg-success/10': notification.variant == 'success', 'bg-warning/10': notification.variant == 'warning', 'bg-danger/10': notification.variant == 'danger'}" class="rounded-full p-0.5" 
                    [ngClass]="{'text-info': notification.variant == 'info', 'text-success': notification.variant == 'success', 'text-warning': notification.variant == 'warning', 'text-danger': notification.variant == 'danger'}"
                    aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>

                <!-- Title & Message -->
                <div class="flex flex-col gap-2">
                    <h3 [ngClass]="{'text-info': notification.variant == 'info', 'text-success': notification.variant == 'success', 'text-warning': notification.variant == 'warning', 'text-danger': notification.variant == 'danger'}"                     class="text-sm font-semibold">{{ notification.title }}</h3>
                    <p class="text-pretty text-sm"> {{ notification.message }}</p>
                </div>

                <!--Dismiss Button -->
                <button type="button" class="ml-auto" aria-label="dismiss notification" (click)="notificationService.removeNotification(notification.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                        stroke-width="2" class="size-5 shrink-0" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    }
</div>