<div class="bg-surface dark:bg-surface-dark h-screen grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-8 md:grid-rows-7 xl:grid-rows-5 auto-rows-fr gap-6 p-8">
    <div class="md:col-span-2 row-span-3">
        <app-card>
            <p class="text-xl text-on-surface-strong dark:text-on-surface-dark-strong">Profile Information</p>
        </app-card>
    </div>
    
    <div class="md:col-span-1 row-span-3">
        <app-card>
            <p class="text-xl text-on-surface-strong dark:text-on-surface-dark-strong">Your Wallets</p>
            
            @if ( wallets ) {
                <div class="h-full overflow-y-auto scrollbar scrollbar-thumb-on-surface-dark scrollbar-track-outline-dark">
                    @for (wallet of wallets; track wallet.name; let isLast = $last) {
                        <div [ngClass]="wallets.length > WALLET_PAGE_SIZE ? 'py-2.5' : 'py-3'">
                            <p> {{ wallet.name | titlecase }} </p>
                            <p class="text-on-surface/60 dark:text-on-surface-dark/60">{{ wallet.description }}</p>
                        </div>

                        @if (!isLast) {
                            <hr class="border-gray-300 dark:border-neutral-700 border-1 w-full mx-auto">
                        }
                    }
                </div>
                
            } @else {
                <p>Loading Wallets...</p>
            }
        </app-card>
    </div>
</div>

