<div class="flex align-middle justify-center w-full py-4" *ngIf="totalPages > 1">
    <nav aria-label="pagination">
        <ul class="flex shrink-0 items-center gap-2 text-sm font-medium">
            <li>
                <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1"
                    class="cursor-pointer flex items-center rounded-radius p-1 text-on-surface hover:text-primary dark:text-on-surface-dark dark:hover:text-primary-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
                        <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                    </svg>
                    Previous
                </button>
            </li>
              
            @for (page of [].constructor(totalPages); track $index; let i = $index) {
                <li>
                    <button (click)="setPage(i + 1)"
                        [class]="currentPage === (i + 1) 
                        ? 'cursor-pointer flex size-6 items-center justify-center rounded-radius bg-primary p-1 font-bold text-on-primary dark:bg-primary-dark dark:text-on-primary-dark' 
                        : 'cursor-pointer flex size-6 items-center justify-center rounded-radius p-1 text-on-surface hover:text-primary dark:text-on-surface-dark dark:hover:text-primary-dark'">
                        {{ i + 1 }}
                    </button>
                </li>
            }
              
            <li>
                <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages"
                    class="cursor-pointer flex items-center rounded-radius p-1 text-on-surface hover:text-primary dark:text-on-surface-dark dark:hover:text-primary-dark">
                    Next
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-6">
                        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </button>
            </li>
        </ul>
    </nav> 
</div>